extends layout.pug

block content
  link(rel='stylesheet' href='/stylesheets/create-edit-posts.css')
  //- h2=title
  if errors
    div
      p The following error(s) occurred:
      ul
        each error in errors
          li= error
  div.container
    div
      h1.title Create Your Post

    div
      form(method="post" action="/post/create")
        input(type="hidden" name="_csrf" value=csrfToken)
        div.row
          div.col-25
            label(for="title") Title

          div.col-75
            input(type="text" placeholder="Title goes here.." name="title" id="title" value=post.title)
        div.row
          div.col-25
            label(for="description") Description
          div.col-75
            textarea(placeholder="Write something.." name="description" id="description" value=post.description style="height:200px")
        div.row
          div.col-25
            label(for="gallery") Photos URL
          div.col-75
            input(type="text" name="gallery" id="gallery" value=post.gallery)
        div.row
          div.col-25
            label(for="state") Location
          div.col-75
            select(name="state" id="state")
              each state in states
                if state.id === post.state_id
                  option(value=state.id selected)= state.name
                else
                  option(value=state.id)= state.name
        div.row
          div.col-25
            label(for="activity") Activity
          div.col-75
            select(name="activity" id="activity")
              each activity in activities
                if activity.id === post.activity_id
                  option(value=activity.id selected)=activity.name
                else
                  option(value=activity.id)=activity.name
        div.row
          input.button(type="submit" value="Create Post")
