extends layout.pug

block content
  h2=title
  if errors
    div
      p The following error(s) occurred:
      ul
        each error in errors
          li= error

  form(method="post" action=`/post/${post.id}/edit`)
        input(type="hidden" name="_csrf" value=csrfToken)
        label(for="title") Title
        input(type="text" name="title" id="title" value=post.title)
        label(for="description") Description
        input(type='text' name="description" id="description" value=post.description)
        label(for="gallery") Gallery
        input(type="text" name="gallery" id="gallery" value=post.gallery)
        label(for="state") Location
        select(name="state" id="state")
            each state in states
              if state.id === post.state_id   
                option(value=state.id selected)= state.name
              else  
                option(value=state.id)= state.name
        label(for="activity") Activity
        select(name="activity" id="activity")
            each activity in activities
              if activity.id === post.activity_id
                option(value=activity.id selected)=activity.name
              else  
                option(value=activity.id)=activity.name
        input(type="submit" value="Create Post")