extends layout
append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)
block content
  h1= title
  div.body-container
    div.row
      div.left-column
        div.title
          h2 Popular Posts
        .card
          div.popular_group
            each post in popularPosts
              div.recent_post(onclick=`location.href=\"http://localhost:8080/post/${post.id}\"`)
                img.post_img(src=post.gallery)
                div.author_title
                  p.post_title= post.title
                  p.post_author= post.User.username
        div.title
          h2 Recent Posts
        .card
          div#recent
            each post in recentPosts
              div.recent_post(onclick=`location.href=\"http://localhost:8080/post/${post.id}\"`)
                img.post_img(src=post.gallery)
                div.author_title
                  p.post_title= post.title
                  p.post_author= post.User.username
      div.right-column
        div.title
          h2 Popular Activities
        .card
          div#activity
            each post in activityPosts
              div.recent_post(onclick=`location.href=\"http://localhost:8080/post/${post.id}\"`)
                div.author_title
                  p.post_activity= post.Activity.name
                  p.post_activity_title= post.title
                img.post_img(src=post.gallery)
        div.title
          h2 Popular States
        .card
          div#state
            each post in statePosts
              div.recent_post(onclick=`location.href=\"http://localhost:8080/post/${post.id}\"`)
                img.post_img(src=post.gallery)
                div.author_title
                  p.post_state= post.State.name
                  p.post_state_title= post.title
  footer.footer
    div
      h2 Footer
