extends layout
append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)
block content
  h1= title
  div.body-container
    div.row
      div.left-column
        div.title
          h2 Popular Posts
        .card
          div.popular_group
            each post in popularPosts
              div.recent_post(onclick=`location.href=\"http://localhost:8080/post/${post.id}\"`)
                img.post_img(src=post.gallery)
                div.author_title
                  p.post_title= post.title
                  p.post_author= post.User.username
        div.title
          h2 Recent Posts
        .card
          div#recent
            each post in recentPosts
              div.recent_post(onclick=`location.href=\"http://localhost:8080/post/${post.id}\"`)
                img.post_img(src=post.gallery)
                div.author_title
                  p.post_title= post.title
                  p.post_author= post.User.username
      div.right-column
        div.title
          h2 Popular Activities
        .card
          div#activity
            each post in activityPosts
              div.recent_post(onclick=`location.href=\"http://localhost:8080/post/${post.id}\"`)
                div.author_title
                  p.post_title= post.title
                  p.post_author= post.Activity.name
                img.post_img(src=post.gallery)
        div.title
          h2 Popular States
        .card
          div#state
            each post in statePosts
              div.recent_post(onclick=`location.href=\"http://localhost:8080/post/${post.id}\"`)
                img.post_img(src=post.gallery)
                div.author_title
                  p.post_title= post.title
                  p.post_author= post.State.name

  footer.footer
    h1 The Creators
    .creators-foot
      .user-foot(onclick=`location.href=\"https://github.com/zpreudhomme\"`)
        .user-title
          h2 Zane Preudhomme
            p Full-Stack Software Developer
            p (JavaScript, Express, CSS, Node)
        .user-img
          img(src="https://secure.gravatar.com/avatar/eba8d5a4523f594c7472a64b0b411cff?secure=true&size=300")
        .user-projects
      .user-foot(onclick=`location.href=\"https://github.com/CaroMen\"`)
        .user-title
          h2 Caroline Mendez
            p Full-Stack Software Developer
            p (JavaScript, Express, CSS, Node)
        .user-img.fooledYou
          img(src="https://avatars.githubusercontent.com/u/55109108?v=4")
        .user-projects
      .user-foot(onclick=`location.href=\"https://github.com/QCHEN0407\"`)
        .user-title
          h2 Vivian Chen
            p Full-Stack Software Developer
            p (JavaScript, Express, CSS, Node)
        .user-img
          img(src="https://s3-us-west-2.amazonaws.com/aa-progress-tracker/students/avatars/000/005/965/medium/IMG_5192.JPG?1612986109")
        .user-projects
      .user-foot(onclick=`location.href=\"https://github.com/jdaniel01\"`)
        .user-title
          h2 James Daniel Jr.
            p Full-Stack Software Developer
            p (JavaScript, Express, CSS, Node)
        .user-img
          img(src="https://secure.gravatar.com/avatar/73dda48734b6731c3d8cc4e70a2b81ff?secure=true&size=300")
        .user-projects
