extends layout
append head 
    link(rel='stylesheet' href='/stylesheets/post.css')
    script(src="/javascripts/post.js" type="module" defer)
block content 
    div.body-container 
        div.titleInfo
            h1.title= post.title
            h3.activity= post.Activity.name
        div.editPost    
            if !locals.authenticated || post.user_id !== locals.user.id 
                button.edit_button(type='button' style='display:none' value='edit' id=`edit_button_${post.id}`) Edit Post
            else 
                button.edit_button(type='button' value='edit' id=`edit_button_${post.id}`) Edit Post
        div.leftColumn 
            div.product
                div.location    
                    h3 Located in #{post.State.name}
                div.media
                    img(src=post.gallery)  
                div.description
                    h3 Description
                    p=post.description
            h3.comments_title Comments
            div.comments
                div.comments_input
                    input(type='text' name='comment' id='comment' placeholder='What do you think of this?')  
                    button(type='submit' value='submit') Send
                div.comments_body
                    p Lot's of comments here
        div.rightColumn 
            div.author
                h2.author_title Author
                div.author_photo(name='author_photo')
                    img.author_photo_img(src=post.User.profilePhoto id=`author_${post.User.id}`) 
                h3.author_name= post.User.username
            div.related
                h2.related_title Related Activities
                p Some fun related activities
