extends layout.pug

append head
  link(rel="stylesheet" href="/stylesheets/profile.css")

block content

    div.profile_container
        div.profile_header
            img.profile_header_img(src="", alt="")
            div.profile_image
                img.profile_image_pfp(src=user.profilePhoto, alt="")
            div.profile_header_name
                h2(value=user.username)= user.username
                if user.id === users_id
                    button.header_btn_settings(type='button' onClick=`location.href= "/users/${user.id}/settings"`) EDIT MY PROFILE
                else
                    button.header_btn_settings(type='button' onClick="") FOLLOW
        div.comment_title Comments
    div.profile_content
        div.left_column
            div.left_column_content
               each comment in comments
                div.recent_comment(onclick=`location.href=\"http://localhost:8080/post/${comment.Post.id}\"`)
                    img.post_img(src=comment.Post.gallery)
                    div.post_info
                        p.post_title= comment.Post.title
                        p.post_author= comment.User.username
        div.right_column
            div.right_column_content
                p.joined_on Joined on
                p.created_date= date

    //- footer.footer
    //-     div
    //-     h2 Footer
